[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # The Original Code is the Bugzilla Objective Watchdog Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

[%
    title = "ChangeLog"
    desc = "ChangeLog extension"
%]

[% param_descs = {
    changelog_access_groups => "Groups that are allowed to use ChangeLog",
} %]
[% param_descs.changelog_queries = BLOCK %]
This param is obsolete. Queries can be edited
<a href="page.cgi?id=ChangeLogQuery.html">here</a>
[% END %]
