[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Objective Watchdog Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corpodation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

[% PROCESS global/header.html.tmpl
   title           = "Bugzilla Objective Watchdog"
   header          = "Who Changed What - Blame This Guy"
   subheader      = filtered_desc
   style_urls      = ["extensions/BOW/web/js/jquery/css/smoothness/jquery-ui-1.8.12.custom.css"]
%]


<script type="text/javascript" src="extensions/BOW/web/js/bow.js"></script>
<script type="text/JavaScript" src="extensions/BOW/web/js/jquery/js/jquery-1.5.1.min.js"></script>
<script type="text/JavaScript" src="extensions/BOW/web/js/jquery/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/JavaScript" src="extensions/BOW/web/js/jquery.tablesorter-update.js"></script>
<script type="text/JavaScript" src="extensions/BOW/web/js/table2CSV.js"></script>
  
<script id="rowTmpl" type="text/html">
<input type='button' value='Download CSV' onclick="$('#<#= tableid #>').table2CSV();" />
<table id='<#= tableid #>' border='1'>
    <thead>
    <tr>
                <th>bug id</th>
                <th>when</th>
                <th>component</th>
                <th>from</th>
                <th>to</th>
                <th>who</th>
    </tr>
    </thead>
    <tbody id='<#= rowsid #>'>

        <# for (var i = 0; i < rows.length; i++) { #>
        <tr>
        <# for (var k = 0; k < rows[i].length; k++) { #>
            <td>
            <# if (k == 0) { #>
            <a href="show_bug.cgi?id=<#= rows[i][k] #>"><#= rows[i][k] #></a><# } else { #>
            <#= rows[i][k] #>
            <# } #>
            <# if (k == 0) { #>
            </a>
            <# } #>
        </td><# } #>
        </tr>
        <# } #>
    </tbody>
</table>
</script>

<script>
[% FOREACH table IN data %]
var ordered_list_data = [[% FOREACH row IN table %][[% FOREACH column IN row %]"[% column | replace( '"', '\"' ) %]",[% END %]],[% END %]];
[% END %]


var waiting_ajax = 0;

function update(data)
{
    waiting_ajax--;
    if (!waiting_ajax)
    {
        $('.loading_element').each(function()
        {
            $(this).hide();
        });

    }
    var html = '';
    if (!data.rows.length)
    {
        html = 'no changes found';
        alert(html);
    } else
    {
        html = parseTemplate($("#rowTmpl").html(),
                             { rows: data.rows, tableid: 'table'+data.name, rowsid: 'rows'+data.name });
    }
    $('#'+data.name).html(html);
    $('#table'+data.name).tablesorter({sortList: [[0,0]], locale: 'de', useUI: true});
}


function get_data()
{
    //var limit = $('#limit').val();
    var from_date = $('#datepicker').val();

    if (!from_date)
    {
        alert('select "Get changes from" date');
    } else
    {
        $('.loading_element').each(function()
        {
        
            $(this).show();
        });


        $.each(['flags', 'severity', 'reopened', 'target_milestone'], function (i, val)
        {
            waiting_ajax++;
            $.post('page.cgi?id=bow_ajax.html',
                    {
                        field: val,
                        from_date: from_date,
                    },
                    update, 'json');
        });
    }
}
</script>

Get changes from <input onChange="get_data();" type="text" value='' id="datepicker">
<span class='loading_element'>
    <img src='extensions/BOW/web/ajax-loader.gif' />
</span>

<div id="tabs">
    <ul>
        <li><a href="#flags">Flags</a></li>
        <li><a href="#severity">Severity</a></li>
        <li><a href="#reopened">Reopened</a></li>
        <li><a href="#target_milestone">Target Milestone</a></li>
    </ul>
    <div id="flags">
    </div>
    <div id="severity">
    </div>
    <div id="reopened">
    </div>
    <div id="target_milestone">
    </div>
</div>

<div id='download'></div>

<script>
$(document).ready(function() {
    $('.loading_element').each(function()
    {
        $(this).hide();
    });
    var datestamp = get_datestamp(-1);

    $("#datepicker").val(datestamp);
    $( "#datepicker" ).datepicker({ minDate: "-7D", maxDate: "-1D", dateFormat: 'yy-mm-dd', defaultDate: -2 });

    get_data(); 

    $( "#tabs" ).tabs();
});
</script>

[% PROCESS global/footer.html.tmpl %]
