[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2013 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% PROCESS "global/field-descs.none.tmpl" %]
[% separator = user.settings.csv_colsepchar.value %]
[% FOREACH col = columns %]
  [% IF human  && field_descs.$col.defined %]
    [% field_descs.$col FILTER csv %][% separator UNLESS loop.last %]
  [% ELSE %]
    [% col FILTER csv %][% separator UNLESS loop.last %]
  [% END %]
[% END %]

[% FOREACH row = data %]
    [% FOREACH col = row %]
      [% IF col.match('date|time|when') %]
        [% col = col FILTER time("%Y-%m-%d %H:%M:%S") %]
      [% END %]
      [% col FILTER csv %][% separator UNLESS loop.last %]
    [% END %]

[% END %]