[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # The Original Code is the Bugzilla Objective Watchdog Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corpodation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

[% IF Param('bb_use_debug_js') %]
  [% javascript_urls = [
      "extensions/ChangeLog/web/js/jquery.tablesorter.js",
  ] %]
[% ELSE %]
  [% javascript_urls = [
      "extensions/ChangeLog/web/js/jquery.tablesorter.min.js",
  ] %]
[% END %]

[% javascript_urls.push("extensions/ChangeLog/web/js/ChangeLog.js") %]

[% PROCESS global/header.html.tmpl
    title           = "ChangeLog"
    header          = "ChangeLog"
    style_urls = [
      "extensions/ChangeLog/web/css/style.css",
    ]
%]

[% IF queries.size %]

<div>
  <p>
    View changes since:
    <input id="datepicker" type="text" size="08" name="from_date"
      value="[% from_date FILTER html %]">
    <img id="loadin-element" style="display:none;"
      src="extensions/ChangeLog/web/ajax-loader.gif" />
  </p>
</div>

<div id="tabs">
  <ul>
    [% FOREACH q IN queries %]
    <li>
      <a href="page.cgi?id=ChangeLogTable.html&amp;qid=[% q.id ~%]
              &amp;from_date=[% from_date FILTER uri %]"
        title="[% q.name FILTER html %]"
        data-qid="[% q.id %]">
        [% q.name FILTER html %]
      </a>
    </li>
    [% END %]
  </ul>
</div>

<script type="text/javascript">
  var clQueryIndex = {
    [% FOREACH q IN queries %]
      '[% q.id %]': [% loop.index %],
    [% END %]
  };

  $(document).ready(clInit)
</script>

[% ELSE %]

<p>No queries currently available</p>

[% END %]


[% PROCESS global/footer.html.tmpl %]
