[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2013 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% PROCESS "global/field-descs.none.tmpl" %]
[% separator = user.settings.csv_colsepchar.value %]
[% FOREACH column = headers %]
  [% IF human  && field_descs.$column.defined %]
    [% field_descs.$column FILTER csv %][% separator UNLESS loop.last %]
  [% ELSE %]
    [% column FILTER csv %][% separator UNLESS loop.last %]
  [% END %]
[% END %]

[% FOREACH row = table %]
    [% FOREACH column = row %]
      [% IF column.match('date|time|when') %]
        [% column = column FILTER time("%Y-%m-%d %H:%M:%S") %]
      [% END %]
      [% column FILTER csv %][% separator UNLESS loop.last %]
    [% END %]

[% END %]
